/* latin */
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: url(./oflsortsmillgoudytt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#main {
  background-color: #F4DA80;
  background-color: rgb(244, 218, 88);
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  margin: 0;
  align-self: flex-start;
  min-height: 730px;
}

.container {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  padding: 0px 15px 0px 15px;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 5vw;
}

.wrapper {
  color: rgb(0, 0, 0);
  display: block;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  height: 328px;
  margin: 0 0 40px 0;
  padding: 40px 0 0 0;
  text-align: center;
  width: 100%;
  min-height: 25vh;
}

#display {
  cursor: auto;
  display: inline;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  height: auto;
  text-align: center;
  width: auto;
}

span.title {
  color: rgba(0, 0, 0, 0.8);
  cursor: auto;
  display: inline;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-size: 35px;
  font-weight: bold;
  height: auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 3;
  user-select: text;
}

img {
  width: 116vw;
  max-width: 1800px;
  margin: 0;
  user-select: none;
  margin-bottom: calc(200px - 50vh);
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100vw;
    margin-top: 5vw;
  }

  img {
    width: 130vw;
    margin-bottom: calc(50px - 30vh);
  }

}

h1 {
  display: block;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-size: 35px;
  font-weight: normal;
  height: 40px;
  margin: 215px 0 25px 0;
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
  z-index: 2;
}

canvas {
  margin-top: 0px;
  padding: 0;
  border: 6px solid #688195;
  cursor: default;
  background-color: rgb(106,166,110);
  background-image: url("../images/green.png");
  scale: 1;
  image-rendering: pixelated;
}

.holder {
  background-color: #666;
  border-style: solid;
  border-width: 3px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 20px;
}
