/* latin */
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: url(./oflsortsmillgoudytt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#main {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  margin: 0;
  align-self: flex-start;
}

.container {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  min-width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-top: 32vw;
}

.image-wrapper {
  color: rgb(0, 0, 0);
  display: flex;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  text-align: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
}

#display {
  cursor: auto;
  display: inline;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 14px;
  height: auto;
  text-align: center;
  width: 90vw;
  padding: 10px;
  background-color: rgb(244 218 88 / 40%);
  max-width: 85vw;
}

.display-content {
  padding: 10px 10px 10px 10px;
  border: 10px solid rgb(244 218 88 / 60%);
  background-color: #f4da58;
}

span.title {
  color: rgba(0, 0, 0, 0.8);
  cursor: auto;
  display: inline;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-size: 1vw;
  font-weight: bold;
  height: auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 3;
  user-select: text;
}

img.header-image {
  width: 118vw;
  max-width: 1800px;
  margin: 0;
  user-select: none;
  transition: 0.5s margin ease-in-out;
}

@media only screen and (max-width: 600px) {
span.title {
  font-size: 1.6rem;
}

}

h1 {
  display: block;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-size: 35px;
  font-weight: normal;
  padding: 0 0 0 0;
  text-align: center;
  width: 100%;
  margin: 0;
}

canvas {
  width: 100%;
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
  border: 6px solid #688195;
  cursor: default;
  background-color: rgb(106,166,110);
  background-image: url("../images/green.png");
  image-rendering: pixelated;
}

.holder {
  background-color: #666;
  border-style: solid;
  border-width: 3px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 20px;
}
