/* latin */
@font-face {
  font-family: 'OFL Sorts Mill Goudy TT';
  font-style: normal;
  font-weight: 400;
  src: url(./oflsortsmillgoudytt.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.footer-content {
  max-width: 100%;
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', serif;
  font-size: 14px;
}
.footer-wrapper h2, .footer-wrapper p, .footer-wrapper strong, .footer-wrapper li {
  text-align: justify;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, 'Times New Roman', serif;
  font-size: 14px;
}
#main {
  margin: 0;
}

.image-wrapper {
  width: 100vw;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.image-spacer {
  pointer-events: none;
}

.container-wrapper {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container {
  display: inline;
  text-align: center;
  width: 85vw;
  max-width: 800px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 15vw;
}

@media screen and (max-width: 600px) {
  .container {
    width: 98vw;
    margin-bottom: 4vw;
  }

  #canvas_ctx, #canvas_webgl, .canvas-spacer {
    aspect-ratio: 1 / 1;
    max-width: 100% !important;
    width: 100% !important;
  }
  .canvas-wrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.yellow-bg-light {
  background-color: #f4da5866;
}

.yellow-bg {
  background-color: #f4da58;
}

.content {
  padding: 10px 10px 10px 10px;
  border: 10px solid rgb(244 218 88 / 60%);
  background-color: #f4da58;
}

.dark-theme-2 .yellow-bg-light {
  background-color: #c5b24166;
}
.dark-theme-2 .yellow-bg {
  background-color: #c5b241;
}
.dark-theme-2 .content {
  background-color: #c5b241;
}

.desktop-button-bar button {
  background: #88e04a;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.125);
  cursor: pointer;
  transition: background ease-in-out 0.25s;
  opacity: 0.75;
}
.desktop-button-bar:hover button {
  opacity: 1;
}

.desktop-button-bar button:hover {
  background: #ffe066;
}

.desktop-button-bar button:active {
  background: #ffe680;
}

span.title {
  color: rgba(0, 0, 0, 0.8);
  cursor: auto;
  display: inline;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-size: min(calc(3vw + 12px), 48px);
  font-weight: bold;
  height: auto;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 3;
  user-select: text;
}

img.header-image {
  width: 118vw;
  max-width: 1800px;
  margin: 0;
  user-select: none;
  pointer-events: none;
}

h1 {
  display: block;
  font-family: 'OFL Sorts Mill Goudy TT', Georgia, serif;
  font-weight: normal;
  text-align: center;
  width: 100%;
  margin: 0;
  height: calc(5.17vw + 16px);
}
.canvas-wrapper {
  overflow: visible;
  max-height: 0;
}
#canvas_ctx, #canvas_webgl {
  max-width: min(min(70vw, 70vh), 960px);
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
  border: 6px solid #688195;
  cursor: default;
  background-color: rgb(106, 166, 110);
  background-image: url("../images/green.png");
  image-rendering: pixelated;
}
.canvas-spacer {
  width: 100%;
  max-width: min(min(70vw, 70vh), 960px);
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  margin-top: 0px;
  padding: 0;
  border: 6px solid transparent;
  pointer-events: none;
}
.middle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 9999;
}
.middle-wrapper.disabled {
  display: none;
}
.middle-wrapper.displayed {
  display: flex;
}
.middle-content {
  width: 85vw;
  background-color: rgba(0, 0, 0, 0.5);
  max-width: min(min(70vw, 70vh), 960px);
  aspect-ratio: 1 / 1;
  border: 1px solid red;
}
.holder {
  background-color: #666;
  border-style: solid;
  border-width: 3px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 20px;
}

.snoo-top {
  display: inline-block;
  width: 0px;
  max-width: 0px;
  overflow: visible
}

.snoo-top > * {
  transform: translate(9px, -22px) scale(2);
  image-rendering: pixelated;
  display: inline-block;
  /* width: 13px; */
  /* height: 16px; */
  background-size: contain;
}

#status_text {
  font-family: monospace;
  padding-bottom: 1vw;
  height: 25px;
  display: block;
  background: red;
  white-space: pre;
}